@import './variables.scss';
body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  //   font-family: 'Poppins', sans-serif;
}

@media (min-width: 1400px) {
  .container {
    width: 1240px;
    padding: 0;
  }
}

/* HEADER============================================*/
.header {
  background: url(../images/main_bg.png) center/cover no-repeat;
  .container-fluid {
    padding: 0;
  }

  .navbar-toggler {
    border-color: $background;
  }

  &-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: $text-light;
    margin-top: 118px;
  }

  &-text {
    color: $text-light;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &-button {
    border: 2px solid $text-light;
    border-radius: 15px;
    color: $text-light;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    padding: 13px 90px 13px 90px;
    margin: 57px 0 148px 0;
    @media (max-width: 350px) {
      width: 100%;
      padding: 13px 0;
    }

    &:hover {
      border: 2px solid $text-light;
      background: $background;
      color: $text-dark;
    }

    &:active {
      border: 2px solid $text-light;
      background: transparent;
      color: $text-light;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  .nav-link-custom {
    color: $text-light;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    // &:hover {
    //   color: $brand;
    // }
  }

  .fa-brands.instagram {
    color: $text-light;
    font-size: 20px;
    // &:hover {
    //   color: blueviolet;
    // }
  }

  .fa-brands.facebook {
    color: $text-light;
    font-size: 18px;
    // &:hover {
    //   color: rgb(94, 124, 189);
    // }
  }
}

/*MAIN===============================================*/
.main {
  margin: 100px 0;

  &-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    text-transform: uppercase;
    color: $h2-option;
    text-align: center;
    margin-bottom: 75px;
  }

  &-car-amount {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $text-light;
    background-color: $brand;
    padding: 13px 0;
    width: 290px;
    border-radius: 15px;
    text-align: center;
  }

  .dropdown-toggle {
    width: 170px;
    height: 48px;
    border: 1px solid $select-border;
    border-radius: 15px;
    &::after {
      content: url(../images/arrow.png);
      border: none;
      position: absolute;
      right: 0.8em;
      top: 0.9em;
    }

    &.show {
      font-weight: 600;
      border-bottom: none;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      &::after {
        display: none;
      }
    }

    &.selected {
      border: 1px solid $brand;
    }

    &.show.selected {
      border: 1px solid $select-border;
      border-bottom: none;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .dropdown-menu {
    border-top: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 15px;
    width: 170px;
    &.show {
      inset: unset !important;
      transform: translate(0px, 0px) !important;
    }
  }

  .dropdown-item {
    &:hover {
      color: $brand;
      background-color: unset;
    }
  }

  .col-smaller {
    width: 15%;
  }
}
