@import './variables.scss';
@import './mixins.scss';
body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  background: #e5e5e5;
  //   font-family: 'Poppins', sans-serif;
}

@media (min-width: 1400px) {
  .container {
    width: 1240px;
    padding: 0;
  }
}

/* HEADER============================================*/
.header {
  background: url(../images/main_bg.png) center/cover no-repeat;
  .container-fluid {
    padding: 0;
  }

  .navbar-toggler {
    border-color: $background;
  }

  &-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;
    color: $text-light;
    margin-top: 118px;
  }

  &-text {
    color: $text-light;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    @media (max-width: 768px) {
      font-size: 20px;
    }
  }

  &-button {
    border: 2px solid $text-light;
    border-radius: 15px;
    color: $text-light;
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    padding: 13px 90px 13px 90px;
    margin: 57px 0 148px 0;
    @media (max-width: 350px) {
      width: 100%;
      padding: 13px 0;
    }

    &:hover {
      border: 2px solid $text-light;
      background: $background;
      color: $text-dark;
    }

    &:active {
      border: 2px solid $text-light;
      background: transparent;
      color: $text-light;
    }

    &:disabled {
      opacity: 0.4;
    }
  }

  .nav-link-custom {
    color: $text-light;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    // &:hover {
    //   color: $brand;
    // }
  }

  .fa-brands.instagram {
    color: $text-light;
    font-size: 20px;
    // &:hover {
    //   color: blueviolet;
    // }
  }

  .fa-brands.facebook {
    color: $text-light;
    font-size: 18px;
    // &:hover {
    //   color: rgb(94, 124, 189);
    // }
  }
}

/*MAIN===============================================*/
.main {
  margin: 100px 0;
  &-title {
    @include heading;
  }

  &-car-amount {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $text-light;
    background-color: $brand;
    padding: 13px 0;
    width: 290px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid $brand;
    &:hover {
      border: 2px solid $brand;
    }

    &:focus {
      background-color: $brand;
      border: 2px solid $brand;
      color: $text-light;
    }

    &:disabled {
      opacity: 0.4;
      background-color: $brand;
      color: $text-light;
    }
  }

  .btn-car-filter {
    width: 170px;
    height: 48px;
    border: 1px solid $select-border;
    border-radius: 15px;
    @media (max-width: 1200px) {
      width: 135px !important;
    }

    @media (max-width: 767px) {
      width: 100% !important;
    }

    &::after {
      content: url(../images/arrow.png);
      border: none;
      position: absolute;
      right: 0.8em;
      top: 0.9em;
    }

    &.show {
      font-weight: 600;
      border-bottom: none;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      background-color: #fff;
      &::after {
        display: none;
      }
    }

    &.selected {
      border: 1px solid $brand;
    }

    &.show.selected {
      border: 1px solid $select-border;
      border-bottom: none;
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }

  .car-menu-filter {
    border-top: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 15px;
    min-width: unset;
    width: 100%;
    @media (max-width: 1200px) {
      width: 135px !important;
    }

    @media (max-width: 767px) {
      width: 100% !important;
    }

    &.show {
      inset: unset !important;
      transform: translate(0px, 0px) !important;
    }
  }

  .dropdown-item {
    &:hover {
      color: $brand;
      background-color: unset;
    }
  }

  @media (min-width: 1400px) {
    .col-smaller {
      width: 15%;
    }
  }

  .input-label-custom {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: -0.523077px;
    color: $text-possible-option;
  }

  .input-custom {
    border: 2px solid $text-possible-option;
    &:checked {
      border: none;
      background-color: $brand;
    }

    &:disabled {
      background-color: $text-possible-option;
      opacity: 1;
    }

    &:checked + .input-label-custom {
      color: $brand;
    }

    &:disabled + .input-label-custom {
      color: $text-possible-option;
      opacity: 1;
    }

    &:checked:focus {
      border: unset;
    }

    &:focus {
      border: 2px solid $text-possible-option;
      outline: 0;
      box-shadow: unset;
    }
  }

  &-sort-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: $text-dark;
  }

  &-sort-btn {
    position: relative;
    border: none;
    padding-left: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: $text-possible-option;

    &.show {
      color: $text-possible-option;
    }

    &:hover {
      border: none;
      color: $brand;
    }

    &::after {
      border: none;
      position: absolute;
      top: 7px;
      left: -1px;
    }

    &.sort-ascending {
      &::after {
        content: url(../images/ascending.png);
      }
    }

    &.sort-descending {
      &::after {
        content: url(../images/descending.png);
      }
    }
  }

  .menu-car-specs {
    width: 191px;
    border: none;
  }

  &-sort-type {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: $text-dark;
  }

  .card-title {
    position: relative;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: $text-dark;
    margin-left: 8px;
    &:hover {
      &::before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: $text-dark;
      }
    }

    &-light {
      font-weight: 400;
      font-size: 17px;
      line-height: 26px;
      color: $text-possible-option;
      cursor: default;
    }
  }

  .card-text-item {
    position: relative;
    list-style-type: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: $text-possible-option;
    margin-left: 16px;
    &::before {
      content: '';
      position: absolute;
      display: block;
      height: 18px;
      width: 1px;
      background-color: $text-possible-option;
    }

    &:nth-of-type(2) {
      &::before {
        left: -12%;
      }
    }

    &:nth-of-type(3) {
      &::before {
        left: -21%;
      }
    }

    &:first-of-type {
      margin-left: 0;
      &::before {
        display: none;
      }
    }
  }

  .card-text-big {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: $text-dark;
  }

  .badge-new {
    width: 66px;
    padding: 6px 0;
    top: 48%;
    left: 0%;
    border-radius: 15px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    background-color: $text-dark;
  }

  .badge-sold {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    color: #fff;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
  }

  .card-sold {
    opacity: 0.5;
  }

  .card-image-sold {
    filter: grayscale(90%);
  }
}

/*CONTACT============================*/
.contact {
  padding: 40px 0;
  background: $text-dark;
  box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
  &-title {
    font-weight: 600;
    font-size: 25px;
    line-height: 34px;
    color: $text-light;
  }

  &-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $text-light;
    max-width: 505px;
  }

  &-input {
    width: 71%;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $text-light;
    background-color: transparent;
    border: 1px solid $select-border;
    border-radius: 15px;
    padding-top: 17px;
    padding-bottom: 17px;
    @media (max-width: 1400px) {
      width: 100%;
    }

    &::placeholder {
      color: $text-light;
    }

    &:focus {
      border-color: unset;
      box-shadow: none;
      border: 1px solid $text-possible-option;
    }
  }

  .was-validated {
    .contact-input {
      &:focus {
        &:valid,
        &:invalid {
          box-shadow: none;
        }
      }

      &:invalid {
        border: 1px solid $error;
        background-image: url(../images/error.svg);
      }

      &:valid {
        border: 1px solid $validation;
        background-image: url(../images/success.svg);
      }
    }
  }

  .invalid-custom {
    font-weight: 400;
    font-size: 10px;
    line-height: 26px;
    letter-spacing: -0.523077px;
    color: $brand;
    top: 72%;
    left: 4%;
    width: 100%;
    max-width: 90px;
    @media (max-width: 767px) {
      top: 87%;
      left: 5%;
    }

    @media (max-width: 575px) {
      top: 36%;
    }
  }

  &-button {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: $text-dark;
    background-color: $background;
    border-radius: 15px;
    width: 100%;
    max-width: 190px;
    padding: 17px 0;
    border: 2px solid $background;
    &:hover {
      background-color: transparent;
      border: 2px solid $background;
      color: #fff;
    }

    &:focus {
      color: $text-dark;
      background-color: $background;
      border: 2px solid $background;
    }

    &:disabled {
      opacity: 0.4;
      background-color: $background;
    }
  }
}

/*QUESTIONS ==============================*/
.questions {
  margin: 100px auto 150px auto;
  max-width: 820px;
  &-title {
    @include heading;
  }

  &-card {
    border-radius: unset;
    background-color: unset;
    // padding-top: 70px;
  }

  &-collaps-toggle {
    border: none;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: $brand !important;
    padding-left: 16px;
    z-index: 5;
    padding-top: 20px;
    @include collapsPseudo($brand, '—', 16px);
  }

  &-collaps-toggle.collapsed {
    color: $text-dark !important;
    @include collapsPseudo($text-dark, '+', 20px);
  }

  &-collaps-item {
    position: relative;
    transition: all 0.8s ease;
    &::after {
      content: '';
      position: absolute;
      display: block;
      border: 1px solid #c4c4c4;
      width: 100%;
      height: auto;
      bottom: -36%;
      left: 0%;
      z-index: -1;
    }
  }

  &-collaps-item.show {
    margin-bottom: 10px;
    &::after {
      visibility: hidden;
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-shadow: 0px 0px 18px rgba(68, 68, 68, 0.09);
      background-color: #fff;
      z-index: -1;
    }
  }
}

/*FOOTER===============================*/
.footer {
  background-color: $text-dark;
  &-socials {
    width: 100%;
    @media (min-width: 1200px) {
      width: 75%;
    }

    .social-item {
      list-style-type: none;
    }
  }
  .nav-link-custom {
    color: $text-light;
  }
}
