@mixin heading {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 75px;
  text-transform: uppercase;
  color: $h2-option;
  text-align: center;
  margin-bottom: 75px;
}

@mixin collapsPseudo($color, $content, $size) {
  &::before {
    content: $content;
    display: block;
    position: absolute;
    font-size: $size;
    color: $color !important;
    top: 50%;
    right: 2%;
    transform: translate(0, -50%);
  }
}
